.formWrapper {
    width: 400px;
    height: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.formWrapper img {
    width: 150px;
    height: auto;
    margin: 15px auto;
}
.formWrapper input {
    width: 80%;
    background: #dad9e9;
    margin: 0 auto;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.BtnWrapper button {
    width: 48%;
    display: flex;
    background: #dad9e9;
    margin: 0 auto;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.BtnWrapper {
    width: 85%;
    margin: 0 auto;
}